{% extends "layout.html"%}

{% block mapcontent %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            
                <small class="text-muted">View location</small>
                <h2><a class="article-title" href="#">San Francisco Map</a></h2>
                <p class="article-content">We have compiled all of the restaurants provided by SF Datahub and plotted them down to our interactive mapping. Our map pinpoints and marks each restaurants location and upon clicking onto link you will see the restaurants information such as [address, risk factor, violations, and link to Yelp review]. </p>
                <a class="map-link" style="background-color:#66669a;"href="/mapsui" role="button">Click to view </a>
            </div>
        </div>
    </article>
    
{% endblock mapcontent %}

{% block statscontent %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">Health scores by ZIP code</small>
                <h2><a class="article-title" href="#">Health scores by ZIP code </a></h2>
                <p class="article-content">In this section, you are able to scroll through the various ZIP codes of San Francisco county and see the health scores of each restaurant in the area. In addition to this, a table will be populated so you'll be able to get more detailed information about each health inspection event. </p>
                <a class="map-link" style="background-color:#66669a;"href="/stats" role="button">Click to view </a>
                
            </div>
        </div>
    </article>
{% endblock statscontent %}

{% block searchcontent %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                 <small class="text-muted">Using Anime.js</small>
                 <h2><a class="article-title" href="#">SF Restaurant Health Scores </a></h2>
                <p class="article-content"> Violations Description </p>
                <a class="map-link" style="background-color:#66669a;" href="/search" role="button">Click to view </a>
            </div>
        </div>
    </article>
{% endblock searchcontent %}   


