{% extends "layout.html"%}

{% block mapcontent %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            
                <small class="text-muted">View location</small>
                <h2><a class="article-title" href="#">put some title here </a></h2>
                <p class="article-content">We compiled a list of restaurants ( Put some content here </p>
                <a class="map-link" style="background-color:#66669a;"href="/mapsui" role="button">Click to view </a>
            </div>
        </div>
    </article>
    
{% endblock mapcontent %}

{% block statscontent %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">Interesting stats</small>
                <h2><a class="article-title" href="#">put some title here </a></h2>
                <p class="article-content">We compiled a list of restaurants ( Put some content here </p>
                <a class="map-link" style="background-color:#66669a;"href="/stats" role="button">Click to view </a>
                
            </div>
        </div>
    </article>
{% endblock statscontent %}

{% block searchcontent %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                 <small class="text-muted">Using Anime.js</small>
                 <h2><a class="article-title" href="#">SF Restaurant Health Scores </a></h2>
                <p class="article-content"> Violations Description </p>
                <a class="map-link" style="background-color:#66669a;" href="/search" role="button">Click to view </a>
            </div>
        </div>
    </article>
{% endblock searchcontent %}   


