{% extends "layout.html"%}
{% block searchcontent %}
    
    

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            
            <small class="text-muted">display</small>
          </div>
          {%for info in restaurant_info%}
          <h2><a class="article-title" href="#">{{info.business_name}} is at </a></h2>
          <p class="article-content">{{info.business_address}},{{info.business_state}} , {{info.business_city}} ,{{info.business_postal_code}} </p>
          {%endfor%}
        </div>
      </article>
    
    
    

{% endblock searchcontent %}
